<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>Manage Reader Account</title>
</head>
<body style=" width:100vw; height:100vh">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:fixed; width:100%">
        <a class="navbar-brand" href="#">Mandarin</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="#">ReaderManage</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/librarian/bookmanage">BookManage</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <a class="text-white mx-2" href="#" id="username">Disabled</a>
            <button class="btn btn-light my-0" id="logout">Login Out</button>
        </div>
    </nav>

    <div style="display:flex ;height:100%; padding-top:50px">
        <div style="width:15%">
            <ul class="nav flex-column nav-pills bg-dark pt-3 px-2" style="height:100%">
                <li class="nav-item ">
                    <a class="nav-link" href="#">agree</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">editreader</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>



        <div style="width:70%; margin-left:100px;display:flex; justify-content:center; padding-top:140px">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <form class="form-search">
                            <input class="form-group" type="text" id="searchID" />
                            <button type="button" class="btn btn-primary btn-sm"  id="searchsubmit">search</button>
                        </form>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>number</th>
                                    <th>readerID</th>
                                    <th>readerName</th>
                                    <th>Email</th>
                                    <th>agree</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="number1">1</td>
                                    <td id="readerID1"></td>
                                    <td id="readerName1"></td>
                                    <td id="Email1"></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" id="agree1">agree</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="refuse1">refuse</button>
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td id="number2">2</td>
                                    <td id="readerID2"></td>
                                    <td id="readerName2"></td>
                                    <td id="Email2"></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" id="agree2">agree</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="refuse2">refuse</button>
                                    </td>
                                </tr>
                                <tr class="error">
                                    <td id="number3">3</td>
                                    <td id="readerID3"></td>
                                    <td id="readerName3"></td>
                                    <td id="Email3"></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" id="agree3">agree</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="refuse3">refuse</button>
                                    </td>
                                </tr>
                                <tr class="warning">
                                    <td id="number4">4</td>
                                    <td id="readerID4"></td>
                                    <td id="readerName4"></td>
                                    <td id="Email4"></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" id="agree4">agree</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="refuse4">refuse</button>
                                    </td>
                                </tr>
                                <tr class="info">
                                    <td id="number5">5</td>
                                    <td id="readerID5"></td>
                                    <td id="readerName5"></td>
                                    <td id="Email5"></td>
                                    <td>
                                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" id="agree5">agree</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" id="refuse5">refuse</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                            <ul>
                                <li>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"  id="last">Last</button>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal"  id="next">Next</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 

    <script>
        var callbackdata;                           //类型：对象数组；作用：用来存放数据库readerlogon的现有项
        var firstdata = 0;                          //类型：整数； 作用：用来表示表格当前状态的第一项是callbackdata的第几号对象，点击searchsubmit时清零，方便点击last和next时的输出
        //获取当前用户名
        $(function () {
            $.get("/librarian/username", function (data) {
                console.log("the current user is:" + data.librarianNM);
                $("#username").html(data.librarianNM);
            })          
        });

        //登出，跳转到首页
        $("#loginout").click(function () {
            window.location.href = "/librarian/";
        });

        //清空表格内容
        var cleartable = function () {
            for (i = 1; i <= 5; i++) {  
                $(("#number" + i)).html("");
                $(("#readerID" + i)).html("");
                $(("#readerName" + i)).html("");
                $(("#Email" + i)).html("");
            }
        }

        //更新callbackdata的项
        
        $("#searchsubmit").click(function () {          
            $.ajax({
                async: "false",
                type: "POST",
                url: "/librarian/register_post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log("the readerlogon has " + result.length + "  term");                          //此处收到的数据为对象数组，对象为数据库readerlogon的所有项
                    if (result == "") alert("There are not Reader registration request!")
                    callbackdata = result;
                    cleartable();
                    var num = 5;
                    if (result.length <= 5) num = result.length;
                    for (i = 1; i <= num; i++) {
                        //console.log(("#readerID" + i));
                        $(("#number" + i)).html(i);
                        $(("#readerID" + i)).html(result[i - 1].ReaderID);
                        $(("#readerName" + i)).html(result[i - 1].ReaderName);
                        $(("#Email" + i)).html(result[i - 1].Email);
                    }
                    firstdata = 0;                                                                           //表格当前状态第一项为callbackdata[0]
                  
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            });          
        });
        
        

        //上一页
        $("#last").click(function () {
            if (firstdata == 0) alert("this is the first page");
            else {
                cleartable();
                firstdata -= 5;
                for (i = 1; i <= 5; i++) {                   
                    $(("#number" + i)).html(firstdata + i);
                    $(("#readerID" + i)).html(callbackdata[firstdata + i - 1].ReaderID);
                    $(("#readerName" + i)).html(callbackdata[firstdata + i - 1].ReaderName);
                    $(("#Email" + i)).html(callbackdata[firstdata + i - 1].Email);
                }              
            }
        });
        //下一页
        $("#next").click(function () {
            if (firstdata + 5 + 1 > callbackdata.length) alert("this is the last page");
            else {
                cleartable();
                firstdata += 5;
                var num = 5;
                if (num > callbackdata.length - firstdata) num = callbackdata.length - firstdata;
                for (i = 1; i <= num; i++) {                  
                    $(("#number" + i)).html(firstdata + i);
                    $(("#readerID" + i)).html(callbackdata[firstdata + i - 1].ReaderID);
                    $(("#readerName" + i)).html(callbackdata[firstdata + i - 1].ReaderName);
                    $(("#Email" + i)).html(callbackdata[firstdata + i - 1].Email);
                }

            }
        });

        //同意函数，拒绝函数
        $("#agree1").click(function () {
            var reader = {
                readerID: $("#readerID1").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/agree_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
            
        });
        $("#agree2").click(function () {
            var reader = {
                readerID: $("#readerID2").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/agree_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
            
        });
        $("#agree3").click(function () {
            var reader = {
                readerID: $("#readerID3").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/agree_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });
        $("#agree4").click(function () {
            var reader = {
                readerID: $("#readerID4").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/agree_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });
        $("#agree5").click(function () {
            var reader = {
                readerID: $("#readerID5").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/agree_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });

        $("#refuse1").click(function () {
            var reader = {
                readerID: $("#readerID1").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/refuse_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });
        $("#refuse2").click(function () {
            var reader = {
                readerID: $("#readerID2").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/refuse_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });
        $("#refuse3").click(function () {
            var reader = {
                readerID: $("#readerID3").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/refuse_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });
        $("#refuse4").click(function () {
            var reader = {
                readerID: $("#readerID4").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/refuse_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });
        $("#refuse5").click(function () {
            var reader = {
                readerID: $("#readerID5").text()
            }
            if (reader.readerID == "") alert("the reader message is error!");
            else {
                console.log(reader);
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/refuse_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(reader),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        $("#searchsubmit").click();
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
        });



    </script>


</body>
</html>