<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8081/public/stylesheets/main.css" />
    <title>Book Search</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: fixed;">
        <a class="navbar-brand font-weight-bold" href="#">Mandarin</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/librarian/addreader">Reader Management</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="#">Book Management</a>
                </li>
            </ul>
            <a class="text-white mx-2" href="#" id="username">Disabled</a>
            <button class="btn btn-light my-0" id="loginout">Log Out</button>
        </div>
    </nav>

    <contentBody>
        <ul class="nav flex-column nav-pills bg-dark sideBar px-2">
            <li id="viewLibrarian" class="nav-item">
                <a class="nav-link active" href="#addbooktab" data-toggle="pill">Add Book</a>
            </li>
            <li id="registerLibrarian" class="nav-item">
                <a class="nav-link" href="#searchbooktab" data-toggle="pill">Search Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#lendbooktab" data-toggle="pill">Lend/Return Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#historytab" data-toggle="pill">Search History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#incometab" data-toggle="pill">Income</a>
            </li>
        </ul>

        <div class="tab-content mainContent">
            <!-- 添加书的表单 -->
            <div class="tab-pane fade show active container" id="addbooktab">
                <div class="card" style="height:500px; width:800px">
                    <div class="card-header  bg-primary text-white font-weight-bold">
                        Add Book
                    </div>
                    <div class="card-body">
                        <form id="addbookform">
                            <div class="form-group">
                                <label for="addbookName">Name</label>
                                <input type="text" class="form-control" id="addbookName" name="bookName">
                            </div>
                            <div class="form-group">
                                <label for="addbookAuthor">Author</label>
                                <input type="text" class="form-control" id="addbookAuthor" name="bookAuthor">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-3">
                                    <label for="addbookType">bookType</label>
                                    <select class="form-control" id="addbookType" name="addbookType">
                                        <option value="-1">Option</option>
                                    </select>
                                </div>
                                <div class="form-group col-3">
                                    <label for="addbookFloor">Floor</label>
                                    <input type="text" class="form-control" id="addbookFloor" name="bookFloor">
                                </div>
                                <div class="form-group col-3">
                                    <label for="addbookSection">Section</label>
                                    <input type="text" class="form-control" id="addbookSection" name="bookSection">
                                </div>
                                <div class="form-group col-3">
                                    <label for="addbookShelf">Shelf</label>
                                    <input type="text" class="form-control" id="addbookShelf" name="bookShelf">
                                </div>
                            </div>
                            <div class="form-group mb-4">
                                <label for="addbookPrice">Price</label>
                                <input type="text" class="form-control" id="addbookPrice" name="bookPrice">
                            </div>
                            <button type="submit" id="addsubmit" class="btn btn-primary" style="width:100%">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 搜索图书的表格 -->
            <div class="tab-pane in fade" id="searchbooktab" style="margin-top: 50px">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="searchbookname">
                                    <div class="input-group-append" id="button-addon1">
                                        <button class="btn btn-outline-primary" type="button" id="searchbook">Search Book</button>
                                    </div>
                                </div>
                            </form>
                            <table class="table" style="height:300px; width:800px;margin-top:20px">
                                <thead>
                                    <tr>
                                        <th><em><strong>bookID</strong></em></th>
                                        <th><em>bookname</em></th>
                                        <th><em><strong>barcode</strong></em></th>
                                        <th><em>operation</em></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td id="bookID1" height="100px"></td>
                                        <td id="bookname1"></td>
                                        <td id="barcode1"><img id="imgcode1" style="height: 80px" /></td>
                                        <td>
                                            <button type="button" class="btn btn-link" data-toggle="modal" id="edit1" data-target="#editbookModal">click for detials</button>
                                            <br /><button type="button" class="btn btn-link" data-toggle="modal" id="delete1">delete</button>
                                        </td>
                                    </tr>
                                    <tr class="success">
                                        <td id="bookID2" height="100px"></td>
                                        <td id="bookname2"></td>
                                        <td id="barcode2"><img id="imgcode2" style="height: 80px" /></td>
                                        <td>
                                            <button type="button" class="btn btn-link" data-toggle="modal" id="edit2" data-target="#editbookModal">click for detials</button>
                                            <br /><button type="button" class="btn btn-link" data-toggle="modal" id="delete2">delete</button>
                                        </td>
                                    </tr>
                                    <tr class="error">
                                        <td id="bookID3" height="100px"></td>
                                        <td id="bookname3"></td>
                                        <td id="barcode3"><img id="imgcode3" style="height: 80px" /></td>
                                        <td>
                                            <button type="button" class="btn btn-link" data-toggle="modal" id="edit3" data-target="#editbookModal">click for detials</button>
                                            <br /><button type="button" class="btn btn-link" data-toggle="modal" id="delete3">delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" id="last">Last</button>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" id="next">Next</button>
                        </div>
                    </div>
                </div>
            </div>

            <!--借还书的表单-->
            <div id="lendbooktab" class="tab-pane in fade">
                <div style="display:flex ;height:100%; padding-top:50px">
                    <div class="card" style="height:400px; width:600px">
                        <div class="modal-header bg-primary">
                            <div class="card-header text-white font-weight-bold">Lend Book</div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="LendreaderID">Lend ReaderID</label>
                                    <input type="text" class="form-control" id="lendreaderID" name="readerID">
                                </div>
                                <div class="form-group">
                                    <label for="bookID">Lend BookID</label>
                                    <input type="text" class="form-control" id="lendbookID" name="bookID">
                                </div>
                                <button type="button" id="lend" class="btn btn-primary" style="width:100%">Lend</button>

                            </form>
                        </div>
                    </div>
                    <div class="card" style="height:400px; width:600px">
                        <div class="modal-header bg-primary">
                            <div class="card-header text-white font-weight-bold">Rend Book</div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="returnreaderID">Return ReaderID</label>
                                    <input type="text" class="form-control" id="returnreaderID" name="readerID">
                                </div>
                                <div class="form-group">
                                    <label for="returnbookID">Return BookID</label>
                                    <input type="text" class="form-control" id="returnbookID" name="bookID">
                                </div>
                                <button type="button" id="return" class="btn btn-primary" style="width:100%">Return</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--查询借阅信息的表格-->
            <div id="historytab" class="tab-pane in fade ">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-header">
                            <div class="input-group">
                                <input type="text" class="form-control" id="history_readerID" value="input ReaderID">
                                <div class="input-group-append" id="button-addon1">
                                    <button type="button" class="btn btn-outline-primary" id="history_search">Search Reader</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered" id="history_table">
                            <thead>
                                <tr>
                                    <th>readerID</th>
                                    <th>readerName</th>
                                    <th>bookID</th>
                                    <th>borrowtime</th>
                                    <th>returntime</th>
                                    <th>overduetime</th>
                                    <th>fine</th>
                                    <th>paid</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="readerID1" height="60px"></td>
                                    <td id="readerName1"></td>
                                    <td id="history_bookID1"></td>
                                    <td id="borrowtime1"></td>
                                    <td id="returntime1"></td>
                                    <td id="overduetime1"></td>
                                    <td id="fine1"></td>
                                    <td id="paid1"></td>
                                </tr>
                                <tr class="success">
                                    <td id="readerID2" height="60px"></td>
                                    <td id="readerName2"></td>
                                    <td id="history_bookID2"></td>
                                    <td id="borrowtime2"></td>
                                    <td id="returntime2"></td>
                                    <td id="overduetime2"></td>
                                    <td id="fine2"></td>
                                    <td id="paid2"></td>
                                </tr>
                                <tr class="error">
                                    <td id="readerID3" height="60px"></td>
                                    <td id="readerName3"></td>
                                    <td id="history_bookID3"></td>
                                    <td id="borrowtime3"></td>
                                    <td id="returntime3"></td>
                                    <td id="overduetime3"></td>
                                    <td id="fine3"></td>
                                    <td id="paid3"></td>
                                </tr>
                                <tr class="warning">
                                    <td id="readerID4" height="60px"></td>
                                    <td id="readerName4"></td>
                                    <td id="history_bookID4"></td>
                                    <td id="borrowtime4"></td>
                                    <td id="returntime4"></td>
                                    <td id="overduetime4"></td>
                                    <td id="fine4"></td>
                                    <td id="paid4"></td>
                                </tr>
                                <tr class="info">
                                    <td id="readerID5" height="60px"></td>
                                    <td id="readerName5"></td>
                                    <td id="history_bookID5"></td>
                                    <td id="borrowtime5"></td>
                                    <td id="returntime5"></td>
                                    <td id="overduetime5"></td>
                                    <td id="fine5"></td>
                                    <td id="paid5"></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pagination pagination-centered">
                            <button type="button" class="btn btn-primary btn-xs mx-2" data-toggle="modal" id="history_last">Last</button>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" id="history_next">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--查询收入的表格-->
            <div id="incometab" class="tab-pane in fade ">
                <div class="row">
                    <div class="col-12">
                        <div class="modal-header">
                            <div class="input-group">
                                <button type="button" class="btn btn-outline-primary" id="lday">Last day</button>
                                <button type="button" class="btn btn-outline-primary" id="lweek">Last week</button>
                                <button type="button" class="btn btn-outline-primary" id="lmonth">Last month</button>
                            </div>
                        </div>
                    </div>
                    <table class="table table-bordered" id="income_table">
                        <thead>
                            <tr>
                                <th>incometime</th>
                                <th>ReaderID</th>
                                <th>incomeway</th>
                                <th>money</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="incometime1" height="60px"></td>
                                <td id="ReaderID1"></td>
                                <td id="incomeway1"></td>
                                <td id="money1"></td>
                            </tr>
                            <tr class="success">
                                <td id="incometime2" height="60px"></td>
                                <td id="ReaderID2"></td>
                                <td id="incomeway2"></td>
                                <td id="money2"></td>
                            </tr>
                            <tr class="error">
                                <td id="incometime3" height="60px"></td>
                                <td id="ReaderID3"></td>
                                <td id="incomeway3"></td>
                                <td id="money3"></td>
                            </tr>
                            <tr class="warning">
                                <td id="incometime4" height="60px"></td>
                                <td id="ReaderID4"></td>
                                <td id="incomeway4"></td>
                                <td id="money4"></td>
                            </tr>
                            <tr class="info">
                                <td id="incometime5" height="60px"></td>
                                <td id="ReaderID5"></td>
                                <td id="incomeway5"></td>
                                <td id="money5"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagination pagination-centered">
                        <button type="button" class="btn btn-primary btn-xs mx-2" data-toggle="modal" id="income_last">Last</button>
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" id="income_next">Next</button>
                    </div>
                </div>
            </div>
        </div>
           
        
</contentBody>

    <!-- 编辑书的模态框 -->
    <div class="modal fade" id="editbookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div style="width:100% ;display:flex; justify-content:center;height:600px;">
                    <div class="card" style="height:400px; width:600px">
                        <div class="modal-header bg-primary">
                            <div class="card-header text-white font-weight-bold">update Book</div>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="bookIDModal">bookID</label>
                                    <input type="text" class="form-control" id="bookIDModal" name="bookIDModal" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="bookNameModal">Name</label>
                                    <input type="text" class="form-control" id="bookNameModal" name="bookNameModal" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="bookAuthorModal">Author</label>
                                    <input type="text" class="form-control" id="bookAuthorModal" name="bookAuthorModal" readonly>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-3">
                                        <label for="bookTypeModal">bookType</label>
                                        <input type="text" class="form-control" id="bookTypeModal" name="bookTypeModal" readonly>
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="bookFloorModal">Floor</label>
                                        <input type="text" class="form-control" id="bookFloorModal" name="bookFloorModal">
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="bookSectionModal">Section</label>
                                        <input type="text" class="form-control" id="bookSectionModal" name="bookSectionModal">
                                    </div>
                                    <div class="form-group col-3">
                                        <label for="bookShelfModal">Shelf</label>
                                        <input type="text" class="form-control" id="bookShelfModal" name="bookShelfModal">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="bookPriceModal">price</label>
                                    <input type="text" class="form-control" id="bookPriceModal" name="bookPriceModal">
                                </div>
                                <button type="button" id="editsubmit" class="btn btn-primary" style="width:100%">update</button>

                            </form>
                        </div>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>


        var bookcategory;                           //对象数组，用于存放图书列表信息
        //获取图书列表信息
        var getbooktyple = function () {
            $.ajax({
                async: "false",
                type: "POST",
                url: "/librarian/bookType_post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log("there are " + result.length + "  category ")
                    bookcategory = result;
                    for (i = 0; i < result.length; i++) {
                        $("#addbookType").append(
                            //"<option value='science'>science</option>"
                            "<option value='" + result[i].category_nm + "'>" + result[i].category_nm + "</option>"
                        );
                    }
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            });//ajax
        };//function getbooktyple

        //获取当前登陆用户,输出图书列表信息
        $(function () {
            cleartable();
            cleartable_history();
            getbooktyple();
            $.get("/librarian/username", function (data) {
                console.log("the current user is:" + data.librarianNM);
                $("#username").html(data.librarianNM);
            });
        });
        //登出，转到首页
        $("#loginout").click(function () {
            window.location.href = "/librarian/";
        });
        //提交要添加的书籍
        $("#addsubmit").click(function () {

            var book = {
                "bookName": $("#addbookName").val(),
                "bookAuthor": $("#addbookAuthor").val(),
                "bookType": $("#addbookType").val(),
                "bookFloor": $("#addbookFloor").val(),
                "bookSection": $("#addbookSection").val(),
                "bookShelf": $("#addbookShelf").val(),
                "bookPrice": $("#addbookPrice").val(),
            }

            console.log("the book type is " + book.bookType);

            if (book.bookName == "") alert("the bookName is null");
            else if (book.bookAuthor == "") alert("the bookAuthor is null");
            else if (book.bookType == "") alert("the bookType is null");
            else if (book.bookFloor == "" || book.bookFloor.length > 2) alert("the bookFloor is null or out of range");
            else if (book.bookSection == "" || book.bookSection.length > 2) alert("the bookSection is null or out of range");
            else if (book.bookShelf == "" || book.bookShelf.length > 2) alert("the bookShelf is null or out of range");
            else if (book.bookPrice == "") alert("the bookPrice is null");
            else {

                $.ajax({
                    type: "POST",
                    url: "/librarian/addbook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(book),
                    dataType: "text",
                    async: "false",
                    success: function (result) {
                        console.log("服务器请求成功");
                        //alert(result);
                        console.log("the result is" + result);
                        if (result == "add is ok") alert("add is ok!");
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });

            }
        });


        var callbackdata;                        //类型：对象数组；作用：用来存放数据库book230的bookname=$("#searchbookname").val() 的项
        var firstdata;                           //类型：整数； 作用：用来表示表格当前状态的第一项是callbackdata的第几号对象，点击searchsubmit时清零，方便点击last和next时的输出
        //清空表格内容
        var cleartable = function () {
            for (i = 1; i <= 3; i++) {
                $(("#bookID" + i)).html("");
                $(("#bookname" + i)).html("");
                $(("#imgcode" + i)).hide();
                $(("#edit" + i)).hide();
                $(("#delete" + i)).hide();
            }
        }
        //查找相关书籍
        $("#searchbook").click(function () {
            var searchbook = {
                "searchbookname": $("#searchbookname").val()
            }
            console.log(searchbook);
            cleartable();
            if (searchbook.bookname == "") alert("the input is null");
            else {
                $.ajax({
                    async: "false",
                    type: "POST",
                    url: "/librarian/searchbookname_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(searchbook),
                    dataType: "json",
                    success: function (result) {
                        console.log("服务器请求成功");
                        console.log("the book found has " + result.length + " books");              //此处收到的数据为对象数组，对象为数据库的所有项
                        if (result[0] == null) alert("There are not book found!");
                        callbackdata = result;
                        cleartable();
                        var num = 3;
                        if (callbackdata.length <= 3) num = callbackdata.length;
                        for (i = 1; i <= num; i++) {
                            $(("#bookID" + i)).html(callbackdata[i - 1].bookID);
                            $(("#bookname" + i)).html(callbackdata[i - 1].bookname);
                            $(("#imgcode" + i)).JsBarcode(callbackdata[i - 1].bookID);
                            $(("#imgcode" + i)).show();
                            $(("#edit" + i)).show();
                            $(("#delete" + i)).show();
                        }
                        firstdata = 0;    //表格当前状态第一项为callbackdata[0]

                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }

        });
        //上一页
        $("#last").click(function () {
            if (firstdata == 0) alert("this is the first page");
            else {
                cleartable();
                firstdata -= 3;
                for (i = 1; i <= 3; i++) {
                    $(("#bookID" + i)).html(callbackdata[firstdata + i - 1].bookID);
                    $(("#bookname" + i)).html(callbackdata[firstdata + i - 1].bookname);
                    $(("#imgcode" + i)).JsBarcode(callbackdata[firstdata + i - 1].bookID);
                    $(("#imgcode" + i)).show();
                    $(("#edit" + i)).show();
                    $(("#delete" + i)).show();
                }
            }
        });
        //下一页
        $("#next").click(function () {
            if (firstdata + 3 + 1 > callbackdata.length) alert("this is the last page");
            else {
                cleartable();
                firstdata += 3;
                var num = 3;
                if (num > callbackdata.length - firstdata) num = callbackdata.length - firstdata;
                for (i = 1; i <= num; i++) {
                    $(("#bookID" + i)).html(callbackdata[firstdata + i - 1].bookID);
                    $(("#bookname" + i)).html(callbackdata[firstdata + i - 1].bookname);
                    $(("#imgcode" + i)).JsBarcode(callbackdata[firstdata + i - 1].bookID);
                    $(("#imgcode" + i)).show();
                    $(("#edit" + i)).show();
                    $(("#delete" + i)).show();
                }

            }
        });


        //编辑书籍按钮      注意: **此处代码可以编写接口来优化** 可以省去100行左右代码
        $("#edit1").click(function () {
            var book = {
                "searchbookID": $("#bookID1").text()
            }
            $.ajax({
                type: "POST",
                url: "/librarian/searchbookID_post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(book),
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log(result[0]);
                    $("#bookIDModal").val(result[0].bookID);
                    $("#bookNameModal").val(result[0].bookname);
                    $("#bookAuthorModal").val(result[0].author);
                    $("#bookFloorModal").val(result[0].placefloor);
                    $("#bookSectionModal").val(result[0].placeregion);
                    $("#bookShelfModal").val(result[0].placebookshelf);
                    $("#bookPriceModal").val(result[0].price);
                    for (i = 0; i < bookcategory.length; i++) {
                        if ((result[0].bookID).substring(0, 2) == bookcategory[i].category_number) {
                            $("#bookTypeModal").val(bookcategory[i].category_nm); break;
                        }
                    }//for
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            });//ajax
        });//edit1

        $("#edit2").click(function () {
            var book = {
                "searchbookID": $("#bookID2").text()
            }
            $.ajax({
                type: "POST",
                url: "/librarian/searchbookID_post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(book),
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log(result[0]);
                    $("#bookIDModal").val(result[0].bookID);
                    $("#bookNameModal").val(result[0].bookname);
                    $("#bookAuthorModal").val(result[0].author);
                    $("#bookFloorModal").val(result[0].placefloor);
                    $("#bookSectionModal").val(result[0].placeregion);
                    $("#bookShelfModal").val(result[0].placebookshelf);
                    $("#bookPriceModal").val(result[0].price);
                    for (i = 0; i < bookcategory.length; i++) {
                        if ((result[0].bookID).substring(0, 2) == bookcategory[i].category_number) {
                            $("#bookTypeModal").val(bookcategory[i].category_nm); break;
                        }
                    }//for
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            });//ajax
        });//edit2

        $("#edit3").click(function () {
            var book = {
                "searchbookID": $("#bookID3").text()
            }
            $.ajax({
                type: "POST",
                url: "/librarian/searchbookID_post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(book),
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log(result[0]);
                    $("#bookIDModal").val(result[0].bookID);
                    $("#bookNameModal").val(result[0].bookname);
                    $("#bookAuthorModal").val(result[0].author);
                    $("#bookFloorModal").val(result[0].placefloor);
                    $("#bookSectionModal").val(result[0].placeregion);
                    $("#bookShelfModal").val(result[0].placebookshelf);
                    $("#bookPriceModal").val(result[0].price);
                    for (i = 0; i < bookcategory.length; i++) {
                        if ((result[0].bookID).substring(0, 2) == bookcategory[i].category_number) {
                            $("#bookTypeModal").val(bookcategory[i].category_nm); break;
                        }
                    }//for
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            });//ajax
        });//edit3

        $("#editsubmit").click(function () {
            var book = {
                "updatebookID": $("#bookIDModal").val(),
                "bookFloor": $("#bookFloorModal").val(),
                "bookSection": $("#bookSectionModal").val(),
                "bookShelf": $("#bookShelfModal").val(),
                "bookPrice": $("#bookPriceModal").val()
            }

            if (book.bookFloor == "" || book.bookFloor.length > 2) alert("the bookFloor is null or out of range");
            else if (book.bookSection == "" || book.bookSection.length > 2) alert("the bookSection is null or out of range");
            else if (book.bookShelf == "" || book.bookShelf.length > 2) alert("the bookShelf is null or out of range");
            else if (book.bookPrice == "") alert("the bookPrice is null");
            else {
                $.ajax({
                    type: "POST",
                    url: "/librarian/updatebook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(book),                            //发送的数据格式，body-parser解析的是字符串，所以需要把json对象转换成字符串
                    dataType: "text",                                       //服务端返回的数据格式
                    async: "false",                                         //默认为(true)异步,设置为false(同步)虽然慢但方便找哪步bug.
                    success: function (result) {
                        console.log("服务器请求成功");
                        console.log(result);
                        if (result == "update is ok") alert("update is ok!");
                        else if (result == "book is not here") alert("the book is not found")
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });//ajax
            }//else
        });//editsubmit
        //删除书籍按钮
        $("#delete1").click(function () {

            var book = {
                "deletebookID": $("#bookID1").text()
            }
            if (book.deletebookID == "") alert("the deletebookID is null");
            else {
                $.ajax({
                    type: "POST",
                    url: "/librarian/deletebook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(book),
                    dataType: "text",
                    async: "false",
                    success: function (result) {
                        console.log("服务器请求成功");
                        console.log(result);
                        if (result == "delete is ok") alert("delete is ok!");
                        else if (result == "book is not here") alert("the book is not found")
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });//ajax
            }//else
        });//delete1

        $("#delete2").click(function () {

            var book = {
                "deletebookID": $("#bookID2").text()
            }
            if (book.deletebookID == "") alert("the deletebookID is null");
            else {
                $.ajax({
                    type: "POST",
                    url: "/librarian/deletebook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(book),
                    dataType: "text",
                    async: "false",
                    success: function (result) {
                        console.log("服务器请求成功");
                        console.log(result);
                        if (result == "delete is ok") alert("delete is ok!");
                        else if (result == "book is not here") alert("the book is not found")
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });//ajax
            }//else
        });//delete1

        $("#delete3").click(function () {

            var book = {
                "deletebookID": $("#bookID3").text()
            }
            if (book.deletebookID == "") alert("the deletebookID is null");
            else {
                $.ajax({
                    type: "POST",
                    url: "/librarian/deletebook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(book),
                    dataType: "text",
                    async: "false",
                    success: function (result) {
                        console.log("服务器请求成功");
                        console.log(result);
                        if (result == "delete is ok") alert("delete is ok!");
                        else if (result == "book is not here") alert("the book is not found")
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });//ajax
            }//else
        });//delete1

        //借书
        $("#lend").click(function () {
            var lend = {
                "lendreaderID": $("#lendreaderID").val(),
                "lendbookID": $("#lendbookID").val()
            }
            console.log(lend);
            if (lend.lendbookID == "" || (lend.lendbookID).length > 6) alert("the lendbookID is null or out of range");
            else if (lend.lendreaderID == "" || (lend.lendreaderID).length > 11) alert("the lendreaderID is null or out of range");
            else {
                $.ajax({
                    type: "POST",
                    url: "/librarian/lendbook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(lend),
                    dataType: "text",
                    async: "false",
                    success: function (result) {
                        console.log("服务器请求成功");
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }

                });
            }
            
        });
        //还书
        $("#return").click(function () {
            var returnbook = {
                "returnreaderID": $("#returnreaderID").val(),
                "returnbookID": $("#returnbookID").val()
            }
            console.log(returnbook);
            if (returnbook.returnbookID == "" || (returnbook.returnbookID).length > 6) alert("the returnbookID is null or out of range");
            else if (returnbook.returnreaderID == "" || (returnbook.returnbookID).length > 11) alert("the returnbookID is null or out of range");
            else {
                $.ajax({
                    type: "POST",
                    url: "/librarian/returnbook_post",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(returnbook),
                    dataType: "text",
                    async: "false",
                    success: function (result) {
                        console.log("服务器请求成功");
                        alert(result);
                    },
                    error: function () {
                        console.log("404 服务器请求失败");
                    }
                });
            }
            
        });


        //查询借还书历史记录
        var callbackhistory;                        //类型：对象数组；作用：用来存放数据库bookgoing230的readerID=history_readerID的项
        var firsthistory = 0;                         //类型：整数； 作用：用来表示表格当前状态的第一项是callbackhistory的第几号对象，点击search_history时清零，方便点击last和next时的输出

        var cleartable_history = function () {
            for (i = 1; i <= 5; i++) {
                $(("#readerID" + i)).html("");
                $(("#readerName" + i)).html("");
                $(("#history_bookID" + i)).html("");
                $(("#borrowtime" + i)).html("");
                $(("#returntime" + i)).html("");
                $(("#overduetime" + i)).html("");
                $(("#fine" + i)).html("");
                $(("#paid" + i)).html("");
            }
        }

        $("#history_search").click(function () {
            var history_readerID = {
                "history_readerID": $("#history_readerID").val()
            }
            if (history_readerID.history_readerID == "input ReaderID") history_readerID.history_readerID = "";
            console.log(history_readerID);
            cleartable_history();
            $.ajax({
                type: "POST",
                url: "/librarian/historysearch_post",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(history_readerID),
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log("there are " + result.length + " history");
                    if (result == "") alert("There are not borrow history !")
                    callbackhistory = result;                 
                    var num = 5;
                    if (result.length <= 5) num = result.length;
                    for (i = 1; i <= num; i++) {                      
                        $(("#readerID" + i)).html(callbackhistory[i - 1].readerID);
                        $(("#readerName" + i)).html(callbackhistory[i - 1].readername);
                        $(("#history_bookID" + i)).html(callbackhistory[i - 1].bookID);
                        $(("#borrowtime" + i)).html(callbackhistory[i - 1].borrowtime);
                        $(("#returntime" + i)).html(callbackhistory[i - 1].returntime);
                        $(("#overduetime" + i)).html(callbackhistory[i - 1].overduetime);
                        $(("#fine" + i)).html(callbackhistory[i - 1].fine);
                        if (callbackhistory[i - 1].paid == 1) $(("#paid" + i)).html("yes");
                        else if (callbackhistory[i - 1].paid == 0) $(("#paid" + i)).html("no");
                        else $(("#paid" + i)).html();

                    }
                    firsthistory = 0;  

                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            })


        });
        //上一页
        $("#history_last").click(function () {
            if (firsthistory == 0) alert("this is the first page");
            else {
                cleartable_history();
                firsthistory -= 5;
                for (i = 1; i <= 5; i++) {
                    $(("#readerID" + i)).html(callbackhistory[firsthistory + i - 1].readerID);
                    $(("#readerName" + i)).html(callbackhistory[firsthistory + i - 1].readername);
                    $(("#history_bookID" + i)).html(callbackhistory[firsthistory + i - 1].bookID);
                    $(("#borrowtime" + i)).html(callbackhistory[firsthistory + i - 1].borrowtime);
                    $(("#returntime" + i)).html(callbackhistory[firsthistory + i - 1].returntime);
                    $(("#overduetime" + i)).html(callbackhistory[firsthistory + i - 1].overduetime);
                    $(("#fine" + i)).html(callbackhistory[firsthistory + i - 1].fine);
                    if (callbackhistory[firsthistory + i - 1].paid == 1) $(("#paid" + i)).html("yes");
                    else if (callbackhistory[firsthistory + i - 1].paid == 0) $(("#paid" + i)).html("no");
                    else $(("#paid" + i)).html();

                }
            }
        });
        //下一页
        $("#history_next").click(function () {
            if (firsthistory + 5 + 1 > callbackhistory.length) alert("this is the last page");
            else {
                cleartable_history();
                firsthistory += 5;
                var num = 5;
                if (num > callbackhistory.length - firsthistory) num = callbackhistory.length - firsthistory;
                for (i = 1; i <= num; i++) {
                    $(("#readerID" + i)).html(callbackhistory[firsthistory + i - 1].readerID);
                    $(("#readerName" + i)).html(callbackhistory[firsthistory + i - 1].readername);
                    $(("#history_bookID" + i)).html(callbackhistory[firsthistory + i - 1].bookID);
                    $(("#borrowtime" + i)).html(callbackhistory[firsthistory + i - 1].borrowtime);
                    $(("#returntime" + i)).html(callbackhistory[firsthistory + i - 1].returntime);
                    $(("#overduetime" + i)).html(callbackhistory[firsthistory + i - 1].overduetime);
                    $(("#fine" + i)).html(callbackhistory[firsthistory + i - 1].fine);
                    if (callbackhistory[firsthistory + i - 1].paid == 1) $(("#paid" + i)).html("yes");
                    else if (callbackhistory[firsthistory + i - 1].paid == 0) $(("#paid" + i)).html("no");
                    else $(("#paid" + i)).html();

                }

            }
        });

        var callbackincome;
        var firstincome = 0;
        var cleartable_income = function () {
            for (i = 1; i <= 5; i++) {
                $(("#incometime" + i)).html("");
                $(("#ReaderID" + i)).html("");
                $(("#incomeway" + i)).html("");
                $(("#money" + i)).html("");
            }
        }

        $("#lday").click(function () {
            cleartable_income();
            $.ajax({
                type: "POST",
                url: "/librarian/income_lday",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log("there are " + result.length + " income");
                    if (result == "") alert("There are not income !")
                    callbackincome = result;
                    var num = 5;
                    if (result.length <= 5) num = result.length;
                    for (i = 1; i <= num; i++) {
                        $(("#incometime" + i)).html(callbackincome[i - 1].incometime);
                        $(("#ReaderID" + i)).html(callbackincome[i - 1].readerID);
                        $(("#incomeway" + i)).html(callbackincome[i - 1].incomeway);
                        $(("#money" + i)).html(callbackincome[i - 1].money);

                    }
                    firstincome = 0;
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            })


        });

        $("#lweek").click(function () {
            cleartable_income();
            $.ajax({
                type: "POST",
                url: "/librarian/income_lweek",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log("there are " + result.length + " income");
                    if (result == "") alert("There are not income !")
                    callbackincome = result;
                    var num = 5;
                    if (result.length <= 5) num = result.length;
                    for (i = 1; i <= num; i++) {
                        $(("#incometime" + i)).html(callbackincome[i - 1].incometime);
                        $(("#ReaderID" + i)).html(callbackincome[i - 1].readerID);
                        $(("#incomeway" + i)).html(callbackincome[i - 1].incomeway);
                        $(("#money" + i)).html(callbackincome[i - 1].money);

                    }
                    firstincome = 0;
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            })


        });

        $("#lmonth").click(function () {
            cleartable_income();
            $.ajax({
                type: "POST",
                url: "/librarian/income_lmonth",
                contentType: "application/json; charset=utf-8",

                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log("there are " + result.length + " income");
                    if (result == "") alert("There are not income !")
                    callbackincome = result;
                    var num = 5;
                    if (result.length <= 5) num = result.length;
                    for (i = 1; i <= num; i++) {
                        $(("#incometime" + i)).html(callbackincome[i - 1].incometime);
                        $(("#ReaderID" + i)).html(callbackincome[i - 1].readerID);
                        $(("#incomeway" + i)).html(callbackincome[i - 1].incomeway);
                        $(("#money" + i)).html(callbackincome[i - 1].money);

                    }
                    firstincome = 0;
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            })


        });

        //上一页
        $("#income_last").click(function () {
            if (firstincome == 0) alert("this is the first page");
            else {
                cleartable_income();
                firstincome -= 5;
                for (i = 1; i <= 5; i++) {
                    $(("#incometime" + i)).html(callbackincome[firstincome + i - 1].incometime);
                    $(("#ReaderID" + i)).html(callbackincome[firstincome + i - 1].readerID);
                    $(("#incomeway" + i)).html(callbackincome[firstincome + i - 1].incomeway);
                    $(("#money" + i)).html(callbackincome[firstincome + i - 1].money);

                }
            }
        });
        //下一页
        $("#income_next").click(function () {
            if (firstincome + 5 + 1 > callbackincome.length) alert("this is the last page");
            else {
                cleartable_income();
                firstincome += 5;
                var num = 5;
                if (num > callbackhistory.length - firsthistory) num = callbackincome.length - firstincome;
                for (i = 1; i <= num; i++) {
                    $(("#incometime" + i)).html(callbackincome[firstincome + i - 1].incometime);
                    $(("#ReaderID" + i)).html(callbackincome[firstincome + i - 1].readerID);
                    $(("#incomeway" + i)).html(callbackincome[firstincome + i - 1].incomeway);
                    $(("#money" + i)).html(callbackincome[firstincome + i - 1].money);
                }

            }
        });

    </script>
</body>
</html>


