<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Book Search</title>
</head>
<body style=" width:100vw; height:100vh">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position:fixed; width:100%">
        <a class="navbar-brand" href="#">Mandarin</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li>
                </li>
            </ul>
            <a class="text-white mx-2" href="#">Disabled</a>
            <button class="btn btn-light my-0">Login</button>
        </div>
    </nav>

    <div style="display:flex ;height:100%; padding-top:50px">
        <div style="width:15%">
            <ul class="nav flex-column nav-pills bg-dark pt-3 px-2" style="height:100%">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Add Book</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>


        <div style="width:85% ;display:flex; justify-content:center; padding-top:30px">
            <div class="card" style="height:500px; width:800px">
                <div class="card-header  bg-primary text-white font-weight-bold">
                    Add Book
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="bookName">Name</label>
                            <input type="text" class="form-control" id="bookName">
                        </div>   
                        <div class="form-group">
                            <label for="bookAuthor">Author</label>
                            <input type="text" class="form-control" id="bookAuthor">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="bookFloor">Floor</label>
                                <input type="text" class="form-control" id="bookFloor">
                            </div>
                            <div class="form-group col-4">
                                <label for="bookSection">Section</label>
                                <input type="text" class="form-control" id="bookSection">
                            </div>
                            <div class="form-group col-4">
                                <label for="bookShelf">Shelf</label>
                                <input type="text" class="form-control" id="bookShelf">
                            </div>
                        </div>
                        <div class="form-group mb-4">
                            <label for="bookPrice">Price</label>
                            <input type="text" class="form-control" id="bookPrice">
                        </div>
                        <button type="submit" class="btn btn-primary" style="width:100%">Submit</button>

                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            //自定义代码
        </script>
</body>
</html>