<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="C:\Users\Pursuit\source\repos\Mandarin\public\stylesheets\main.css" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="http://localhost:8081/public/stylesheets/main.css" />
    <title>Reader Login</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="position: fixed;">
        <a class="navbar-brand font-weight-bold" href="#">Mandarin</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://loacalhost:8081/search">Search</a>
                </li>
            </ul>
        </div>
        <a href="http://localhost:8081/apply"><button class="btn btn-light my-0">Apply for a account</button></a>
    </nav>

    <contentBody class="contianer px-5" style="padding-top: 170px">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-4" >
                <div class="card">
                    <div class="card-header  bg-primary text-white font-weight-bold">
                        Reader Login
                    </div>
                    <div class="card-body" was-validated id="logForm">
                        <label for="formPhone">Phone</label>
                        <div class="form-group mb-3">
                            <input type="text" class="form-control"  id="account" pattern="[\d]{11}" required>
                            <div class="invalid-feedback">
                                Please enter 11 digits phone number.
                            </div>
                        </div>
                        <label for="formPwd">Password</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control"  id="pwd" required>
                            <div class="input-group-append" id="button-addon1">
                                <button class="btn btn-outline-primary" type="button" id="logConfirm">Confirm</button>
                            </div>
                            <div class="invalid-feedback">
                                Please enter password.
                            </div>
                        </div>
                        <a href="#">Forget Password?</a> <br />
                        <a href="#">Is a Librarian?</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-6">
                <p style="font-size:100px">Mandarin</p>
                <h4>Intelligent Online Library System</h4>
            </div>
        </div>
    </contentBody>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script>    
        $("#logConfirm").click(function () {
            /*$("[role = 'alert']").alert('close');
            $("#logForm").addClass("was-validated");
            if ($('#formPhone')[0].validity.valid && $('#formPwd')[0].validity.valid) {*/
                $.post("/reader/test", { account: $('#account').val(), pwd: $('#pwd').val() }, function (data) {
                    if (data.code == 1) {
                        /*$("#logForm").prepend('\
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">\
                                <strong>Incorrect account or password!</strong>\
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                                    <span aria-hidden="true">&times;</span>\
                                </button>\
                            </div> '
                        );*/
                        alert("Incorrect phone or password");
                    }
                    else if (data.code == 0) window.location.href = "http://localhost:8081/search";
                });
            /*}*/
        })
    </script>
</body>
</html>