<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:8081/public/stylesheets/main.css" />
    <link rel="icon" href="/static/ico/favicon.ico">
    <title>Book Search</title>

    <style>
        #searchicon {
            display: block;
            margin-top: 150px;
            z-index: 1;
            width: 400px;
        }
    </style>
</head>
<body style=" width:100%">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand font-weight-bold" href="#">Mandarin</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Search Page</a>
                </li>
            </ul>
            <button onclick="location.href='/apply'" class="btn btn-light">Apply Account</button>
        </div>
    </nav>

    <div style="width:100vw; height:95%;z-index:0; position:fixed; background-image:  linear-gradient(to top, rgba(255,255,255,100) 0%, rgba(255,255,255,80) 50%, rgba(255,255,255,0) 100%);"></div>
    <div class="container" style="display: flex; justify-content: center; width: 100vw;">
        <div id="searchicon">
            <label for="basic-url" class="font-weight-bold" style="font-size:30px; "><img src="http://localhost:8081/public/images/book.svg" style=" padding-bottom:6px" /> Search</label>
            <form action="/" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="basic_url" name="bookname" placeholder="book's name" aria-describedby="search-btn" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="search-btn">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="container newcontent" style="position: fixed;" id="newsform">
        <div>
            <label id="addnewstitle" class="font-weight-bold" style="font-size:30px; " readonly="true">2020\5\31 add books</label>
            <div class="input-group"></div>
            <h5 id="addnewscontent">&emsp; The library added programming books such as "C + + primer" today</h5>
        </div>
    </div>

    <div class="container mt-4" id="cardContainer" style="opacity: 0; width:100%">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header  bg-primary text-white">
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <th style="width:2.5%">&nbsp;</th>
                                    <th style="width:20.5%" align="center">Book</th>
                                    <th style="width:11.5%" align="center">ID</th>
                                    <th style="width:11.5%" align="center">Floor</th>
                                    <th style="width:11.5%" align="center">Shelf</th>
                                    <th style="width:11.5%" align="center">Region</th>
                                    <th style="width:11.5%" align="center">Price</th>
                                    <th style="width:11.5%" align="center">State</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="py-3 px-4">
                        <ul class="list-group" id="books">
                            <li class="list-group-item list-group-item-action">
                                <table width="100%">
                                    <tr>
                                        <th style="width:20%" align="center">
                                            <h5 class="mb-1">bookname</h5>
                                            <p class="mb-1">author</p>
                                        </th>
                                        <th style="width:13.5%" align="center"><h5 class="mb-1">bookID</h5></th>
                                        <th style="width:11%" align="center"><h5 class="mb-1">placefloor</h5></th>
                                        <th style="width:12.5%" align="center"><h5 class="mb-1">placebookshelf</h5></th>
                                        <th style="width:11%" align="center"><h5 class="mb-1">placeregion</h5></th>
                                        <th style="width:12.5%" align="center"><h5 class="mb-1">price</h5></th>
                                        <th style="width:8.5%" align="center"><h5 class="mb-1">state</h5></th>
                                    </tr>
                                </table>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!--自定义的代码-->
    <script>
        $('#basic_url').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                event.preventDefault();
                //回车执行查询
                $('#search-btn').click();
            }
        });

        $("#search-btn").click(function () {
            $("#searchicon").animate({
                marginTop: '10px'
            });
            $.ajax({
                type: 'get',
                url: '/search_result',
                data: $("#basic_url"),
                success: function (resp) {
                    get_list(resp);
                },
                error: function () {
                }
            });


            $("#cardContainer").animate({
                opacity: '1'
            }, 2 * 1000);

            var newsform = document.getElementById('newsform');
            newsform.style.display = "none";
            //搜索按钮的其他代码
        });
        function get_list(res) {
            var booklist = document.getElementById('books');
            var msg = '';
            //alert(JSON.stringify(res));
            for (var i = 0; i < res.length; i++)//msg = msg + '<li class="list-group-item list-group-item-action"><h5 class="mb-1">' + res[i].bookname + "&emsp;&emsp;&emsp;" + res[i].bookID + "&emsp;&emsp;&emsp;" + res[i].placefloor + "&emsp;&emsp;&emsp;&emsp;&emsp;" + res[i].placebookshelf + "&emsp;&emsp;&emsp;&emsp;&emsp;" + res[i].placeregion + "&emsp;&emsp;&emsp;&emsp;&emsp;" + res[i].price + "&emsp;&emsp;&emsp;&emsp;&emsp;" + res[i].state + '</h5><p class="mb-1">' + res[i].author + '</p></li>';
            {
                if (res[i].state == 0) {
                    msg = msg + '<li class="list-group-item list-group-item-action">' +
                        '<table width="100%"><tr>' +
                        '<th style="width:20%" align="center"><h5 class="mb-1">' + res[i].bookname + '</h5>' +
                        '<p class="mb-1">' + res[i].author + '</p></th>' +
                        '<th style="width:13.5%" align="center"><h5 class="mb-1">' + res[i].bookID + '</h5></th>' +
                        '<th style="width:11%" align="center"><h5 class="mb-1">' + res[i].placefloor + '</h5></th>' +
                        '<th style="width:12.5%" align="center"><h5 class="mb-1">' + res[i].placebookshelf + '</h5></th>' +
                        '<th style="width:11%" align="center"><h5 class="mb-1">' + res[i].placeregion + '</h5></th>' +
                        '<th style="width:12.5%" align="center"><h5 class="mb-1">' + res[i].price + '</h5></th>' +
                        '<th style="width:8.5%" align="center"><h5 class="mb-1">' + res[i].state + '</h5></th></tr></table></li>';
                }
                else {
                    temp = JSON.stringify(res[i]);
                    //alert(temp);
                    msg = msg + '<li class="list-group-item list-group-item-action">' +
                        '<table width="100%"><tr>' +
                        '<th style="width:20%" align="center"><h5 class="mb-1">' + res[i].bookname + '</h5>' +
                        '<p class="mb-1">' + res[i].author + '</p></th>' +
                        '<th style="width:13.5%" align="center"><h5 class="mb-1">' + res[i].bookID + '</h5></th>' +
                        '<th style="width:11%" align="center"><h5 class="mb-1">' + res[i].placefloor + '</h5></th>' +
                        '<th style="width:12.5%" align="center"><h5 class="mb-1">' + res[i].placebookshelf + '</h5></th>' +
                        '<th style="width:11%" align="center"><h5 class="mb-1">' + res[i].placeregion + '</h5></th>' +
                        '<th style="width:12.5%" align="center"><h5 class="mb-1">' + res[i].price + '</h5></th>' +
                        '<th style="width:8.5%" align="center"><button value=' + temp + ' onclick=reserve(value)> Reserve</button ></th ></tr ></table ></li > ';
                }
            }
            //alert(msg);
            if (msg == '')
                booklist.innerHTML = '<li class="list-group-item list-group-item-action"><h5 class="mb-1">Sorry, no such book.</h5></li>';
            else
                booklist.innerHTML = msg;

        }

        function reserve(info) {
            //alert(info);
            var time = new Date();
            var now = time.toLocaleDateString() + '/' + time.getHours() + '/' + time.getMinutes();
            info = JSON.parse(info);
            var data = "book's name: " + info.bookname + "\nauthor: " + info.author + "\nbook's ID: " + info.bookID + "\ntime: " + time.toLocaleDateString() + '/ ' + time.getHours() + ':' + time.getMinutes() + "\nyour ID: 13700110111"
            var judge = window.confirm("Do you want to reserve this book ?\n\n" + data);
            //alert(judge);
            if (judge == true) {
                var reserveinfo = {
                    "bookname": info.bookname,
                    "author": info.author,
                    "bookID": info.bookID,
                    "time": now
                }
                //alert(JSON.stringify(reserveinfo))
                $.get('/reserve', reserveinfo, function (resp) {
                    if (resp.code == 0) {
                        alert("Reserve Successful!");
                    }
                    else {
                        alert("Sorry, please try again.");
                    }
                })

            }
        }

        var postnews = function () {

            $.ajax({
                type: "POST",
                url: "/librarian/querynews_post",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: "false",
                success: function (result) {
                    console.log("服务器请求成功");
                    console.log(result[0]);
                    $("#addnewstitle").innerHTML = result[0].newstitle;
                    $("#addnewscontent").innerHTML = result[0].newscontent;
                },
                error: function () {
                    console.log("404 服务器请求失败");
                }
            });
        }

    </script>
</body>
</html>