body contentBody {
    z-index: 0;
    display: block;
    width: 100%;
    overflow-x:hidden;
}

nav {
    z-index: 1;
    width: 100%;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.sideBar {
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100vh;
    padding-top: 70px;
}

.mainContent {
    padding-top: 70px;
    margin-left: 200px;
    padding-left: 180px;
    padding-right: 180px;
}

.newcontent {
    border: 1px solid #000;
    border-radius: 4px;
    left: 30%;
    top: 80px;
    width: 600px;
} 
